html{
font-family: 'Josefin Sans', sans-serif;
}

button.bodegaIcon img{
  width: 25px;
  height: 25px;
}
button.bodegaIcon {
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

form {
  width: 100%;
  max-width: 600px;
  margin: 25px auto;
}

.input-row {
  margin: 25px 0px;
}

label {
  display: block;
  padding-bottom: 5px;
}

input {
  width: 100%;
  padding: 5px;
}

button {
  border-radius: 3px;
  padding: 5px 15px;
  background: #FFD507;
  cursor: pointer;
}

div.mapboxgl-popup-content{
  overflow-x: hidden;
  overflow-y:scroll;
  max-height: 500px;

}
.mapboxgl-popup{
  background-color: none;
  height: 500px;
}

div.mapboxgl-popup-content{
  background: none;
}

button.mapboxgl-popup-close-button{
    right: 3px;
    top: 15px;
}

.bodegaCard{
    background-color: #AFD6D6;
    border-radius: 5px;
    box-shadow: 0px 0px 7px black; 
    width: 308px;   
}

.bodegaCard h3{
  text-align: center;
  display: block;
  padding: 5px;
  margin: 10px;
  color: rgb(0, 0, 0);
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 0px 0px 1px lightgrey;
}

.bodegaCard h4{
  text-align: center;
  padding: 5px;
  color: #FFFFFF;
  font-family: 'Josefin Sans', sans-serif
}

.bodegaCard ul{
  text-align: center;
  background-color: #AFD6D6;
  border-radius: 3px;
  padding: 2px;
  margin: 2px;
}

.bodegaCard#bodegaNameDisplay{
  background-color: #09d3ac;
}

.cat-img{
  max-width: 250px;
  max-height: 250px;
}

.form-message {
  font-size: 10px;
  padding-top: 2px;
}
.form-message.valid {
  color: #4caf50;
}
.form-message.invalid {
  color: #f44336;
}

.has-errors {
  border: 1px solid #f44336;
}

.newBodegaSpan{
  padding: 5px;
  width: 100%;
  background-color: #f44336;
  align-content: center;
  position: relative;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  cursor: pointer;
}

img#crosshairs{
  height: 75px;
  width: 75px;
  display: block;
  position: absolute;
  opacity: 0.7;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%)
}

div.buttonContainer{
  width: 100%;


}

div.buttonContainer button{
  width: 50%;
  font-family: 'Josefin Sans', sans-serif;
  box-shadow: 0px 0px 5px black; 
}

.catListItem{
  display: inline-flex;
  background-color: #ffa407;
  border-radius: 5px;
  margin: 1px;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  box-shadow: 0px 0px 3px black; 

}

.encounterCard {
  border-radius: 5px;
  background-color: #ffa407;
  box-shadow: 0px 0px 7px black; 
  font-family: 'Josefin Sans', sans-serif;
  /* text-shadow: 0px 0px 4px grey; */
}

span.deleteSkull{
  display: inline-block;
  cursor: pointer;
  text-shadow: #4caf50;
}
